@charset "UTF-8";

/* body { */
/*   color: #666; */
/*   font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif; */
/* } */
table {
  color: #666;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 0.4em;
}
th,
td {

  padding: 6px 15px;
}
th {
  background: #fd9642;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-top: 0px solid #c6c9cc;
  border-right: 0px solid #c6c9cc;
  border-bottom: 0px solid #c6c9cc;
}
/* td:first-child { */
/*   border-left: 1px solid #c6c9cc; */
/* } */
/* tr:nth-child(even) td { */
/*   background: rgb(243, 242, 241); */
/* } */
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

th#ttitle{width: 50% !important; letter-spacing: 0.2em; text-align: center;}
td#ttitle{width: 50% !important; padding-left: 10px; font-size: 15px; font-weight: 500; letter-spacing: 0.1em;}
td#ttitle:hover{width: 600px !important; background-color: #ffe4cc; font-weight: 500; letter-spacing: 0.1em;}

th#twriter{width: 15% !important; letter-spacing: 0.1em; text-align: center !important;}
td#twriter{width: 15% !important; text-indent: 10px !important; letter-spacing: 0.1em; text-align: center !important;}

th#t1{width: 5% !important; letter-spacing: 0.1em;}
th#t2{width: 10% !important; letter-spacing: 0.1em;}
th#tdate{width: 10% !important; text-align: center;}
td#tdate{width: 10% !important; text-align: center;}

th#tnum{width: 10% !important; text-align: center;}
td#tnum{width: 10% !important; text-align: center;}


#page_control{text-align: center; margin: 20px 0 0 0;
margin-right: auto; margin-left: auto;}

#page_control a{padding: 2px 5px; text-decoration: none;
color: #333; margin: 0 5px;}

#page_control a:hover{font-weight: bold; color: #F90;
text-decoration: underline;}

article table#notice tr:hover{
	background-color: #EEFDFF;
cursor: pointer;cursor: hand;}